autopep8==1.4.3
backports.shutil-get-terminal-size==1.0.0
configparser==3.7.1
decorator==4.3.2
enum34==1.1.6
flake8==3.6.0
ipython==4.2.1
ipython-genutils==0.2.0
mccabe==0.6.1
pathlib2==2.3.3
pexpect==4.6.0
pickleshare==0.7.5
pkg-resources==0.0.0
ptyprocess==0.6.0
pycodestyle==2.4.0
pyflakes==2.0.0
scandir==1.9.0
simplegeneric==0.8.1
six==1.12.0
traitlets==4.3.2
yapf==0.25.0
